<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>About</h1>
    <img
      src="/images/prison-mike.png"
      alt="Prison Mike"
      height="400"
      width="400"
    />

    <p>
      Michael was born in Scranton, Pennsylvania, on March 15, 1964, and
      frequently talks about his loneliness as a child. He claims to be of
      English, Irish, Scottish and German ancestry. He claims to have been a
      child star on the program Fundle Bundle, but this was later proven to be
      false. He was hired as a salesman at Dunder Mifflin on May 6, 1992 and
      proved to be extremely effective, which resulted in him being promoted to
      regional manager. Despite being a successful salesman, Michael is shown to
      be an incompetent manager and tries to inject his personal feelings into
      the work environment, and has few relationships outside the office. He
      overestimates the importance of his co-workers, and can't understand why
      they're not enjoying themselves, as he believes an office is a "place
      where dreams come true." Despite this, Michael genuinely cares for his
      employees and tries to help them when they have problems.
    </p>

    <footer>
        <a href="/">Home</a>
    </footer>
  </body>
</html>
