<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Characters</title>
  </head>
  <body>
    <h1>Characters</h1>

    <p>
      Given his habit of constantly trying to keep his employees entertained
      (and coupled with his juvenile personality), Michael has created a variety
      of different alter egos which he uses for both entertainment, and, at
      times, educational purposes.
    </p>

    <h2>Michael the Magic</h2>
         <img src="/images/Michael-the-magic.webp" alt="Michael the Magic">
    <h2>Michael Klump</h2>
    <img src="/images/klump.webp" alt="Michael Klump">
    <h2>Date Mike</h2>
    <img src="/images/date.jpeg" alt="Date Mike">
    <h2>Michael Wonka</h2>
    <img src="/images/wonka.jpeg" alt="Michael Wonka" width="625" height="400">

    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
