<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <h1>Works</h1>
    <img src="/images/michael-scarn.jpeg" alt="Michael Scarn" width="400" height="550">

    <p>Michael Scott wrote, directed, and starred in the award winning film "Threat Level Midnight".</p>

    <img src="/images/book.jpeg" alt="book cover" width="500" height="700">

    <p>Michael has also written the best selling business book "Somehow I Manage"</p>


    <footer>
        <a href="/">Home</a>
    </footer>
    
</body>
</html>